body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para a barra de progresso */
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  
  .progress-bar-fill {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
  }