@font-face {
  font-family: 'AgencyFB-Bold';
  src: url('/fonts/AgencyFB-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'A4SPEEDBold';
  src: url('/fonts/A4SPEEDBold.ttf') format('truetype');
}

@font-face {
  font-family: 'BatmanForeverAlternate';
  src: url('/fonts/BatmanForeverAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'Dortmund-ExtraBold';
  src: url('/fonts/Dortmund-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EdoSZ';
  src: url('/fonts/EdoSZ.ttf') format('truetype');
}

@font-face {
  font-family: 'GROBOLD';
  src: url('/fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
  font-family: 'Gemstone-Regular';
  src: url('/fonts/Gemstone-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JandaManateeSolid';
  src: url('/fonts/JandaManateeSolid.ttf') format('truetype');
}

@font-face {
  font-family: 'JumboSaleTrial';
  src: url('/fonts/JumboSaleTrial.ttf') format('truetype');
}

@font-face {
  font-family: 'KaBlam';
  src: url('/fonts/KaBlam.ttf') format('truetype');
}

@font-face {
  font-family: 'KomikaAxis';
  src: url('/fonts/KomikaAxis.ttf') format('truetype');
}

@font-face {
  font-family: 'Michland';
  src: url('/fonts/Michland.ttf') format('truetype');
}

@font-face {
  font-family: 'Odisean-One';
  src: url('/fonts/Odisean-One.ttf') format('truetype');
}

@font-face {
  font-family: 'Potato_sans-Black';
  src: url('/fonts/Potato_sans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Potato_sans-Bold';
  src: url('/fonts/Potato_sans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SandlerTrial-Regular';
  src: url('/fonts/SandlerTrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SmartKids';
  src: url('/fonts/SmartKids.ttf') format('truetype');
}

@font-face {
  font-family: 'SpongeboyMeBob';
  src: url('/fonts/SpongeboyMeBob.ttf') format('truetype');
}

@font-face {
  font-family: 'Starborn';
  src: url('/fonts/Starborn.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperDessert';
  src: url('/fonts/SuperDessert.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperMarioGalaxy';
  src: url('/fonts/SuperMarioGalaxy.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperMilk';
  src: url('/fonts/SuperMilk.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperOrganic';
  src: url('/fonts/SuperOrganic.ttf') format('truetype');
}

@font-face {
  font-family: 'WhiteOnBlack';
  src: url('/fonts/WhiteOnBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'moon_get-Heavy';
  src: url('/fonts/moon_get-Heavy.ttf') format('truetype');
}
